
.center {
    padding:0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#glmap {
    width: 640px;
    height: 640px;
}

#range {
    width: 0px;
    height: 0px;
    background-color: rgba(0,90,155,0.4);
    border-radius: 100%;
}

    #range span {
        width: 10px;
        height: 10px;
        background-color: rgba(0,90,155,0.8);
        border-radius: 100%;
    }

#output {
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 10px;
    margin: auto;
    background-color: rgba(0,0,0,0.3);
    width: 640px;
    height: 60px;
    z-index: 1;
}

    #output span {
        color: #fff;
        height: 100%;
        line-height: 180%;
        width: 90%;
    }
